{% load static %}

<div id="carrito" class="p-3">
    <h2>Tu Carrito</h2>
    <div id="carrito-items">
        {% if usuarios %}
            {% for us in usuarios %}
                {% if us.user == request.user %}
                    {% if carritos %}
                        {% for cart in carritos %}
                            {% if us == cart.rut %}
                                {% if items %}
                                    {% for item in items %}
                                        {% if item.id_carrito == cart %}
                                            <div class="carrito-item mb-3">
                                                <div class="d-flex">
                                                    <img src="{% static item.id_producto.foto %}" class="img-fluid" style="width: 50px; height: 50px;" alt="{{ item.id_producto.nombre }}">
                                                    <div class="ml-3">
                                                        <h5>{{ item.id_producto.nombre }}</h5>
                                                        <p>Cantidad: {{ item.cantidad }}</p>
                                                        <p>Precio unitario: ${{ item.id_producto.precio }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <button id="cerrar-carrito" class="btn btn-danger">Cerrar</button>
</div>