{% load static %}
<footer class="footer">
    <div class="container">
        <div class="footer-row">
            <div class="footer-links">
                <h4>Información</h4>
                <ul>
                  <li><a href="{% url 'nosotros' %}">Nosotros</a></li> 
                  <li><a href="#">Contáctanos</a></li> 
                  <li><a href="#">Centro de ayuda</a></li> 
                  <li><a href="#">Devoluciones y cambios</a></li> 
                </ul>
            </div>
                <div class="footer-links">
                    <h4>Nuestras tiendas</h4>    
                    <ul> 
                      <li><a href="https://maps.app.goo.gl/JoqnmWnW4t3jaVw78">Mall Costanera Center</a></li> 
                      <li>Av. Andrés Bello 2425</li>
                      <li>Horarios:</li>
                      <li>Lun-Dom: 10:00 - 20:30</li> 
                    </ul>
                </div>  
                    <div class="footer-links">
                      <ul> 
                        <br><br><br>
                        <li><a href="https://maps.app.goo.gl/hT9Bt4z6BZQQhBT3A">Mall Florida Center</a></li> 
                        <li>Av. Vicuña Mackenna Ote. 6100</li>
                        <li>Horarios:</li>
                        <li>Lun-Dom: 10:00 - 20:30</li> 
                      </ul>
                  </div>
                  <div class="footer-links">
                    <h4>Síguenos</h4>
                    <div class="social-link">
                      <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                      <a href="https://www.instagram.com/carla.kookie/"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fa-regular fa-envelope"></i></a>
                    </div>
                  </div>
        </div> 
        <div class="footer-row">
            <h6>© DONDE LA FLACA TODOS LOS DERECHOS RESERVADOS</h6>
        </div>
    </div>
</footer>