{% load static %}
<header>
    <div class="container-fluid">
        <div class="row">

            <!-- icono izquierda -->
            <div class="col-4">
                <a href="Principal.html"><img class="d-block mx-auto" src="{% static 'img/image.png' %}" width="130" alt=""></a>
            </div>
            <!-- fin icono izquierda -->

            <!-- barra de busqueda -->
            <div class="col-4">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
                    <button class="btn btn-dark" type="submit">Buscar</button>
                  </form>
            </div>
            <!-- fin barra de busqueda -->
          <!-- Icono inicio de sesión -->
          <div class="col-2" >
            <div class="icon-container1">
              <a href="Inicio sesion.html"><i id="login" class="fa-solid fa-user icon"></i></a>
          </div>
          </div>
            <!-- icono derecha -->
          <div class="col-2">
            <div class="icon-container2">
            <a href="Tienda.html"><i id="carrito" class="fa-solid fa-cart-shopping"></i></a>
          </div>
          
          <!-- fin icono derecha -->

        </div>
        <div class="row">
            
            <!-- inicio navbar -->
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
              <div class="container-fluid bg-dark bg-opacity-100" >
                <!-- <a class="navbar-brand" href="#"><img src="img/pata.png" width="45" alt=""></a> -->
                
                <button style="background-color: rgb(0, 0, 0); border-color: rgb(68, 68, 68);" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li> -->
                    
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li> -->
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" style="color: white;" href="Principal.html">INICIO</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="Principal.html" style="color: white;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        TIENDA
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="Tienda.html">Bicicletas</a></li>
                        <li><a class="dropdown-item" href="Tienda.html">Indumentaria</a></li>
                        <!-- <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" style="color: white;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        TALLER
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="Mantencion.html">Mantención</a></li>
                        <li><a class="dropdown-item" href="#">Reparación</a></li>
                        <!-- <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" style="color: white;" href="Arriendo.html">ARRIENDO</a>
                    </li>
                  </ul>
                  
                </div>
              </div>
            </nav>
            <!-- fin nav bar -->

        </div>
    </div>
</header>