* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#principal{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
}
ul{
    text-align: center;
    list-style: none;
    display: block;
}
/* ul li{
    color
} */
#izquierda{
    background-color:rgb(158, 147, 147);
    width: 20%;
}
#derecha{
    width: 80%;
}

#a{
    background-color: aqua;
}
#b{
    background-color: rgb(255, 0, 153);
}
#c{
    background-color: rgb(51, 255, 0);
}
#d{
    background-color: rgb(234, 0, 255);
}

