<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DondeLaFlaca</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  </head>
<body>

    <!-- -------------------------------------------------------------------- -->
    {% include 'base/header.html' %}
    <!-- -------------------------------------------------------------------- -->
    <main>
    <div class="container">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Solicitud de arriendo</h3>
         </div>
         <div class="panel-body">           
            <form class="form-horizontal" id="rentalForm">
                <div class="form-group">
                    <label for="nombre" class="col-sm-2 control-label">Nombre y apellido</label>
                    <div class="col-sm-10">
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="NOMBRE Y APELLIDO">
                    </div>
                </div>

                <div class="form-group">
                    <label for="correo" class="col-sm-2 control-label">Correo electrónico</label>
                    <div class="col-sm-10">
                        <input type="email" id="correo" name="correo" class="form-control" placeholder="CORREO ELECTRÓNICO">
                    </div>
                </div>

                <div class="form-group">
                    <label for="numero" class="col-sm-2 control-label">Número de contacto</label>
                    <div class="col-sm-10">
                        <input type="number" id="numero" name="numero" class="form-control" placeholder="NÚMERO DE CONTACTO">
                    </div>
                </div>

                <div class="form-group">
                    <label for="bicicleta" class="col-sm-2 control-label">Tipo de bicicleta</label>
                    <div class="col-sm-10">
                        <select id="bicicleta" name="bicicleta" class="form-control">
                            <option value="">TIPO DE BICICLETA</option>
                            <option value="urbana">URBANA</option>
                            <option value="montana">MONTAÑA</option>
                            <option value="carretera">CARRETERA</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="talla" class="col-sm-2 control-label">Talla</label>
                    <div class="col-sm-10">
                        <input type="number" id="talla" name="talla" class="form-control" placeholder="TALLA">
                    </div>
                </div>

                <div class="form-group">
                    <label for="fecha" class="col-sm-2 control-label">Rango de fechas</label>
                    <div class="col-sm-10">
                        <input type="date" id="fecha" name="fecha" class="form-control" placeholder="RANGO DE FECHAS">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button class="btn btn-dark" type="submit">Enviar formulario</button>
                    </div>
                </div>
            </form>
         </div>
      </div>
   </div>
   <!-- jQuery  -->
   <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
   <script src="validaciones.js"></script>
    </main>
    <!-- -------------------------------------------------------------------- -->
    {% include 'base/footer.html' %}
    <!-- -------------------------------------------------------------------- -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'validaciones.js' %}"></script>

</body>
</html>