<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DondeLaFlaca</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <!-- -------------------------------------------------------------------- -->
    {% include 'base/header.html' %}
    <!-- -------------------------------------------------------------------- -->
    <main>
        <div class="container-fluid">
            <div class="row">
                <p style="color: black; opacity: 50%;">Inicio/¿Quiénes somos?</p>
            </div>
            <br />
            <div class="row">
                <div class="col-4 d-block mx-auto" id="titulo2">
                    <b><h3>Nuestra historia</h3></b>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-10 d-block mx-auto">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt eveniet fugit rerum expedita ea aliquid explicabo culpa vel magnam inventore incidunt cum, asperiores quia debitis iusto non dignissimos commodi nobis?
                    Nulla, delectus quam eligendi quibusdam corrupti eius nisi consequatur sequi. Nostrum commodi eaque id temporibus beatae tenetur, repellat quo pariatur aliquid debitis reprehenderit eveniet deserunt dicta, ullam quibusdam tempora perferendis?
                    Aliquid veritatis eum dolore fugit dolorum quia! Eaque debitis nobis quia labore fugiat totam iste! Voluptatem veritatis non deserunt exercitationem, quisquam reiciendis fuga doloribus expedita harum at vel! Similique, id.
                    Harum molestias excepturi praesentium consequuntur quis ipsam quae eius soluta, veniam, laborum ex! Saepe quidem dolor eaque? Minus consequatur blanditiis neque commodi debitis aspernatur tenetur quis cupiditate, expedita maiores sint!
                    Accusamus autem libero, provident itaque quibusdam ea commodi architecto recusandae assumenda aperiam deleniti nam in sunt dolorem blanditiis temporibus esse aliquam accusantium impedit rem ad! Assumenda eveniet quaerat aspernatur illum.
                    Accusantium a perspiciatis harum nostrum, magnam maxime et facilis. Expedita dolores optio quaerat temporibus animi fuga non error qui, voluptate, mollitia velit assumenda officiis quam eveniet illo porro alias veritatis?
                    Sapiente, deleniti natus? Libero non neque atque recusandae nihil, odit eligendi delectus unde at id aliquam dicta optio consequatur eveniet labore fugit. Amet quis in sint, quo a obcaecati culpa.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-10 d-block mx-auto">
                    <img src="{% static 'img/foto en equipo.jpg' %}" alt="" width="100%">
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-3 d-block mx-auto" id="titulo2">
                    <b><h3 >Nuestro equipo</h3></b>
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-3 d-block mx-auto" id="nombre">
                    <img src="{% static 'img/Jaime.jpg' %}" alt="" width= 100% height=75% style="border-radius: 20%;"
                    transition: transform 0.8s ease;"
                    onmouseover="this.style.transform = 'scale(1.1)'" 
                     onmouseout="this.style.transform = 'scale(1)'">
                    <h4>Jaime Vergara</h4>
                    <p style="color: black; opacity: 65%;">Web developer</p>
                </div>


                <div class="col-3 d-block mx-auto" id="nombre">
                    <img src="{% static 'img/Rodrigo.jpg' %}" alt="" width= 100% height=75% style="border-radius: 20%;"
                    transition: transform 0.8s ease;"
                    onmouseover="this.style.transform = 'scale(1.1)'" 
                     onmouseout="this.style.transform = 'scale(1)'">
                    <h4>Rodrigo Urbina</h4>
                    <p style="color: black; opacity: 65%;">Web developer</p>
                </div>


                <div class="col-3 d-block mx-auto" id="nombre">
                    <img src="{% static 'img/Carla.jpg' %}" alt="" width= 100% height=75% style="border-radius: 20%;"
                    transition: transform 0.8s ease;"
                    onmouseover="this.style.transform = 'scale(1.1)'" 
                    onmouseout="this.style.transform = 'scale(1)'">
                    <h4>Carla Morales</h4>
                    <p style="color: black; opacity: 65%;">Web developer</p>
                </div>

            </div>
        </div>
        <br />
    </main>
    <!-- -------------------------------------------------------------------- -->
     {% include 'base/footer.html' %}
    <!-- -------------------------------------------------------------------- -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>