<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.20.1/dist/jquery.validate.min.js"></script>
</head>
<body>
    <!-- ------------------------------------------- -->
    {% include 'base/header.html' %}
    <!-- ------------------------------------------- -->
    <main>
        <div class="container-fluid mt-3 mb-3">
            <div class="row">
                <form action="{% url 'registrar' %}" id="registro" name="registro" method="POST" class="col-md-4 mx-auto shadow-lg text-center mt-3 p-5 ">
                    {% csrf_token %}
                    <h3>Registro</h3>

                    {% if edit %}
                        <div class="form-floating col-7 mx-auto mb-2">
                            <input type="Text" class="form-control" name="username" id="username" value="{{username}}" placeholder="" required minlength="3">
                            <label for="username">Usuario</label>
                        </div>
                        
                        <div class="form-floating col-7 mx-auto mb-2">
                            <input type="Text" class="form-control" name="rut" id="rut" value="{{rut}}" placeholder="" required minlength="9" maxlength="10">
                            <label for="rut">Rut</label>
                            <span style="opacity: 50%;">ej: 12345678-9</span>
                        </div>

                        <div class="form-floating col-7 mx-auto mb-2">
                            <input type="Text" class="form-control" name="first_name" id="first_name" value="{{first_name}}" placeholder="" required>
                            <label for="first_name">Nombre</label>
                        </div>

                        <div class="form-floating col-7 mx-auto mb-2">
                            <input type="Text" class="form-control" name="last_name" id="last_name" value="{{last_name}}" placeholder="" required>
                            <label for="last_name">Apellido</label>
                        </div>
        
                        <div class="form-floating col-7 mx-auto mb-2">
                            <input type="text" class="form-control" name="email" id="email" value="{{email}}" placeholder="" required email>
                            <label for="email">Correo electronico</label>
                        </div>
        
                        <div class="form-floating col-7 mx-auto mb-2">
                            <input type="password" class="form-control" name="password" id="password" value="{{password}}" placeholder="" required minlength="6">
                            <label for="password">Contraseña</label>
                        </div>
        
                        <div class="form-floating col-7 mx-auto mb-2">
                            <input type="password" class="form-control" name="confirm" id="confirm" placeholder="" required equalTo="#password">
                            <label for="confirm">Confirma tu contraseña</label>
                        </div>
                    {% else %}
                        <div class="form-floating col-7 mx-auto mb-2">
                            <input type="Text" class="form-control" name="username" id="username" placeholder="" required minlength="3">
                            <label for="username">Usuario</label>
                        </div>
                        
                        <div class="form-floating col-7 mx-auto mb-2">
                            <input type="Text" class="form-control" name="rut" id="rut" placeholder="" required minlength="9" maxlength="10">
                            <label for="rut">Rut</label>
                            <span style="opacity: 50%;">ej: 12345678-9</span>
                        </div>

                        <div class="form-floating col-7 mx-auto mb-2">
                            <input type="Text" class="form-control" name="first_name" id="first_name" placeholder="" required>
                            <label for="first_name">Nombre</label>
                        </div>

                        <div class="form-floating col-7 mx-auto mb-2">
                            <input type="Text" class="form-control" name="last_name" id="last_name" placeholder="" required>
                            <label for="last_name">Apellido</label>
                        </div>
        
                        <div class="form-floating col-7 mx-auto mb-2">
                            <input type="text" class="form-control" name="email" id="email" placeholder="" required email>
                            <label for="email">Correo electronico</label>
                        </div>
        
                        <div class="form-floating col-7 mx-auto mb-2">
                            <input type="password" class="form-control" name="password" id="password" placeholder="" required minlength="6">
                            <label for="password">Contraseña</label>
                        </div>
        
                        <div class="form-floating col-7 mx-auto mb-2">
                            <input type="password" class="form-control" name="confirm" id="confirm" placeholder="" required equalTo="#password">
                            <label for="confirm">Confirma tu contraseña</label>
                        </div>
                    {% endif %}
    
                    <div id="resultado"></div>
                    <div id="resultado2"></div>
                     
                    <div class="form-floating col-6 mx-auto">
                        <input type="submit" value="Enviar" class="btn btn-dark">
                        <br><br>
                        <input type="button" value="volver atrás" class="btn btn-dark" onclick="history.back()" name="volver atrás">
                    </div>
                    {% if message %}
                        <div class="alert alert-danger w-50 mx-auto text-center">
                            {{message}}
                        </div>
                    {% endif %}
                </form>
                <script>
                    $("#registro").validate();
                </script>
            </div>
        </div>
    </main>
    <!-- -------------------------------------------------------------------- -->
    {% include 'base/footer.html' %}
    <!-- -------------------------------------------------------------------- -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
<!-- <script src="{% static 'validacionesregistro.js' %}"></script> -->
</html>