<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DondeLaFlaca</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <style>
    ul{
      list-style: none;
    }
    #borde{
      width: 300px;
      height: 150px;
      border-color: black;
      border-width: 5px;
    }
    .categorias{
      width: 400px;
      background-color: rgb(255, 255, 255);
      padding: 30px;
      margin: auto;
      /* margin-top: 70px; */
      border-radius: 4px;
      border-color: black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: rgb(114, 114, 114);
      text-align: center;
      font-size: 12px;
      /* box-shadow: 7px 13px 37px #000; */
      /* margin-bottom: 30px; */
    }

    /* -------------------------------------------------------------------------- */

    #carrito-view {
      position: fixed;
      top: 0;
      right: 0;
      width: 300px;
      height: 100%;
      background: white;
      box-shadow: -2px 0 5px rgba(0,0,0,0.5);
      transform: translateX(100%);
      transition: transform 0.3s ease;
      z-index: 1000;
    }
    #carrito-view.visible {
      transform: translateX(0);
    }
  </style>
</head>
<body class="body_tienda">
  <!-- -------------------------------------------------------------------- -->
  {% include 'base/header.html' %}
  <!-- -------------------------------------------------------------------- -->
  <main>
    <div class="container-fluid">
      <div class="row">
        <p style="color: black; opacity: 50%;">Inicio/Tienda</p>
      </div>
      <hr>
      <div class="row" id="titulo">
        <h2>TIENDA</h2>
      </div>
      <hr>
      <div class="row">
        <div class="col ms-auto">
          <b><h6>120 Producto(s)</h6></b>
        </div>
        <div class="col me-auto d-flex">
          <p style="padding-right: 100px;">Ordenar por:         </p>
        
          <select class="option1" name="bicicleta" id="bicicleta">
            <option value="Fecha">Fecha</option>
            <option value="Precio">Precio</option>
            <option value="Oferta">Oferta</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-lg-2 col-xl-2" >
            <div class="border border-secondary">
              <b><h6>Categorías</h6></b>
                <select name="bici" id="bici" class="option">
                  <option value="1">Bicicletas</option>
                    <option value="2">Pista</option>
                </select>
                <select name="indumentaria" id="indumentaria" class="option">
                  <option value="1">Indumentaria</option>
                    <option value="2">Casco</option>
                    <option value="3">Tricota</option>
                    <option value="4">Lentes</option>
                    <option value="5">Guantes</option>
                </select>
                <select name="accesorios" id="accesorios" class="option">
                  <option value="1">Accesorios</option>
                    <option value="2">Luces</option>
                    <option value="3">Stickers</option>
                </select>
                <select name="componentes" id="componentes" class="option">
                  <option value="1">Componentes</option>
                </select>
                <select name="bolsos" id="bolsos" class="option">
                  <option value="1">Bolsos</option>
                </select>
            </div>
        </div>
        <div class="col-md-10 col-lg-10 col-xl-10">
          <div class="row">
            <!-- prod -->
              {% if productos %}
                {% for tmp in productos %}
                  {% if tmp.stock >= 1 %}
                    <div class="col-6">
                      <div class="main_container">
                        <div class="product">
                          <img src="{% static tmp.foto %}" alt="..." >
                          <div class="product_desc">
                            <div class="col">
                              <h3>{{tmp.nombre}}</h3>
                              <p>${{tmp.precio}}</p>
                            </div>
                            <div class="col">
                              <a href="{% url 'ver-producto' id_prod=tmp.id_producto %}">
                                <button type="button" class="btn btn-outline-info">
                                  Comprar
                                </button>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            <!-- fin prod -->
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  </main>
  <!-- -------------------------------------------------------------------- -->
  {% include 'base/footer.html' %}
  <!-- -------------------------------------------------------------------- -->
  {% if request.user.is_authenticated %}
    <button id="abrir-carrito" class="btn btn-secondary fixed-bottom m-3">Abrir Carrito</button>
  {% endif %}
  <div id="carrito-view" class="p-3">
    <h2>Tu Carrito</h2>
    <div id="carrito-items">
      {% if usuarios %}
        {% for us in usuarios %}
          {% if us.user == request.user %}
            {% if carritos %}
              {% for cart in carritos %}
                {% if us == cart.rut %}
                  {% if items %}
                    {% for item in items %}
                        {% if item.id_carrito == cart %}
                        <div class="carrito-item mb-3">
                          <div class="d-flex">
                            <img src="{% static item.id_producto.foto %}" class="img-fluid" style="width: 50px; height: 50px;" alt="{{ item.id_producto.nombre }}">
                            <div class="ml-3">
                              <h5>{{ item.id_producto.nombre }}</h5>
                              <p>Cantidad: {{ item.cantidad }}</p>
                              <p>Precio unitario: ${{ item.id_producto.precio }}</p>
                            </div>
                            <a href="{% url 'delToCart' pk=item.id_item %}">
                              <button class="btn btn-outline-danger">Eliminar</button>
                            </a>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <button id="cerrar-carrito" class="btn btn-outline-danger">Cerrar</button>
    {% if items %}
      <a href="{% url 'pagarCart' %}">
        <button id="pagar-carrito" class="btn btn-outline-success">Pagar</button>
      </a>
    {% endif %}
  </div>
  <!-- -------------------------------------------------------------------- -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#abrir-carrito').click(function() {
        $('#carrito-view').addClass('visible');
        $('#abrir-carrito').hide();
      });

      $('#cerrar-carrito').click(function() {
        $('#carrito-view').removeClass('visible');
        $('#abrir-carrito').show();
      });
    });
  </script>

</body>
</html>