#pie h1{
    color: white;
}
#pie h2{
    color: white;
}
#pie h3{
    color: white;
}
#pie h4{
    color: white;
}
#pie h5{
    color: white;
}
#pie h6{
    color: white;
}
footer{
    
    /* display: flex; */
    height: 70vh;
    width: 100%;
    line-height: 1.3;
    /* font-family: Menlo, monospace; */
}
a{
    text-decoration: none;
}
*{
    font-family: "ROBOTO";
}
.pie-pagina{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-items: center;
    /*bottom: 0;
    left: 0;
    padding: 2rem 8%;
    flex-direction: column; */
    
    background-image: url(img/pie\ de\ pagina.png);
}
.titulo{
    color: black;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-register {
    width: 400px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin: auto;
    margin-top: 70px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(114, 114, 114);
    text-align: center;
    font-size: 12px;
    box-shadow: 7px 13px 37px #000;
    margin-bottom: 30px;
}

.form-register h4{
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
}

.controls {
    width: 100%;
    background-color: rgb(212, 212, 212);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #B5B2B2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: black;
}

.form-register .botons{
    width: 80%;
    background-color: black;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.option{
    width: 100%;
    background-color:rgb(214, 210, 210);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #B5B2B2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: rgb(114, 114, 114);
    text-align: left;
}

option{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.col h6{
    font-weight: bold;
}

.option1{
    width: 20%;
    background-color:rgb(214, 210, 210);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #B5B2B2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: rgb(114, 114, 114);
    text-align: left;
}

option1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#titulo h2{
    text-align: center;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#titulo2 h3{
    text-align: center;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#nombre h4{
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-top: 15px;
}

#nombre p{
    text-align: center;
}