@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#pie h1{
    color: white;
}
#pie h2{
    color: white;
}
#pie h3{
    color: white;
}
#pie h4{
    color: white;
}
#pie h5{
    color: white;
}
#pie h6{
    color: white;
}

a{
    text-decoration: none;
}

.titulo{
    color: black;
}

.footer {
    background-color: #24262B;
    padding: 80px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #d400ff;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links li{
    font-size: 14px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color:#FFFFFF;
    padding-left: 6px;
}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}

.social-link a:hover {
    background-color: #d400ff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.footer-row h6{
    color: #696969;
    font-family: sans-serif;
    font-size: 12px;
}

@media(max-width:991px){
    .footer-row {
        text-align: center;
    }
    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
    .main_container {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 768px) {
    .main_container {
        grid-template-columns: auto;
    }
    .footer-row {
        text-align: center;
    }
    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}

head{
    font-family: sans-serif
}

body{
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}



.col h6{
    font-weight: bold;
}

.option1{
    width: 20%;
    background-color:rgb(214, 210, 210);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #B5B2B2;
    font-family:sans-serif;
    font-size: 15px;
    color: rgb(114, 114, 114);
    text-align: left;
}

option1{
    font-family: sans-serif
}

#titulo h2{
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
}

#titulo2 h3{
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
}

#nombre h4{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 15px;
}

#nombre p{
    text-align: center;
}

.icon-container1 {
    width: 40px;
margin-top: 5%;
margin-left: 50%;

}

.icon-container2 {
    width: 40px;
margin-top: 5%;

}

.icon {
    font-size: 24px;
    color: #24262B;
    transition: all .5s ease;
    margin-top: 10%;
    margin-left: 50%;
}

#carrito{
    font-size: 24px;
    color: #24262B;
    transition: all .5s ease;
    margin-top: 10%;}

    /*  #login{
    margin-left: 50%;
    margin-top: 10%;
    color: #24262B;
    transition: all .5s ease;
}*/

.d-flex{
    margin-top: 10%;
}
.dropdown-menu li {
    font-size: 18px;
    font-family: sans-serif;
    background-color: #24262B;
}

.dropdown-item {
    color: #FFFFFF;
}

*{
    box-sizing: border-box;
    font-family: Montserrat;
    padding: 0;
    margin: 0;
}

.product{
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
    gap: 20px;
}


.product_img{
    width: 100%;
    height: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    max-width: 50%;
}

.product_desc{
    text-align: center;
    padding: 20px 0px;
}

.product_desc h3{
    font-size: 24px;
    padding: 10px 0px;
}

.product_desc p{
    font-size: 18px;
}

.body_tienda{
    border: none;
}

.col-2 {
    width: 16.66666667%;
    padding: 0 15px;
}
  
.border {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
  
.option {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 10px;
    background-color: #f8f9fa;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
  
.option::-ms-expand {
    display: none;
}
  
.option:focus {
    outline: none;
    box-shadow: 0 0 0 2px #dee2e6;
}
  
h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

.product_rep {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* add some gap between image and text */
    padding: 20px; /* add some padding to the bottom of the text */
  }

  .product_img_rep {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: contain;
  }

  .product_desc_rep {
    text-align: center;
    padding: 20px 0px;
  }
  
  .product_desc_rep h3 {
    font-size: 24px;
    padding: 10px 0px;
  }
  
  .product_desc_rep p {
    font-size: 18px;
  }