<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenedor</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> 
</head>

<body>
    {% include 'base/header_admin.html'%}
    <br><br>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-8 shadow-lg mx-auto text-center p-3">
                    {% if request.session.tipo == 'Admin' or request.session.tipo == 'Administrador' or request.session.tipo == 'Staff' %}
                        <h4>Formulario para Tipos de Producto:</h4>
                        <br><br>
                        <form action="{% url 'add-tipo-producto' %}" method="POST">
                            {% csrf_token %}
                            <div>
                                {{form.as_p}}
                            </div>
                            <br>
                            {% if mensaje%}
                            <div class="alert alert-success w-50 mx-auto text-center">
                                {{mensaje}}
                            </div>
                            {% endif%}
                            <div class="mt-3">
                                <button type="submit" class="btn btn-success">Agregar</button>
                                <a href="{% url 'crud-varios' %}">
                                    <button type="button" class="btn btn-secondary">Volver</button>
                                </a>
                            </div>
                        </form>
                    {% else %}
                        <h1>Error</h1>
                        <h4>Vuelva a la pagina principal...</h4>
                        <a href="{% url 'Principal' %}">
                            <button class="btn btn-outline-primary my-1">
                                Inicio
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>