* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#principal{
    background-color: black;
    width: 100%;
    height: 100vh;
    /* viewport height */
    display: flex;
}
ul{
    text-align: center;
    list-style: none;
}